html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    box-sizing: border-box;
    font-size: 62.5%
}

*, ::after, ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}

body {
    color: rgba(0, 0, 0, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        min-width: 1200px;
    }
}

.title {
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
    color: #0D4B7C;
}

.cta {
    background-image: linear-gradient(to right, #6f86d6 0%,  #48c6ef 100%);
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cta a {
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    background: #ffffff;
    color: #48c6ef;;
    text-decoration: none;
    margin-top: 10px;
    border: 1px solid #ffffff;
}

.cta a:hover {
    color: #ffffff;
    background: transparent;
}

@media (min-width: 720px) {
    .cta {
        flex-direction: row;
    }

    .cta a {
        margin: 0 0 0 10px;
    }
}

.header {
    background: lightgray url("../img/hero.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 100px);
}

.header .container {
    min-height: calc(100vh - 100px);
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.header::after {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    z-index: 2;
    top: 0;
}

.header__info {
    z-index: 3;
}

.header__intro {
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: column;
}

.header__intro h1 {
    font-weight: normal;
    text-align: center;
}

.header__intro img {
    width: 180px;
    height: auto;
    margin-top: 20px;
}

.header__list {
    color: #ffffff;
    line-height: 1.6;
    padding-left: 20px;
}

.header__list li {
    margin-bottom: 10px;
}

@media (min-width: 720px) {
    .header {
        min-height: calc(100vh - 71px);
    }

    .header .container {
        min-height: calc(100vh - 71px);
    }

    .header__intro {
        text-align: right;
        justify-content: flex-start;
        flex-direction: row;
    }

    .header__intro h1 {
        text-align: right;
    }

    .header__intro img {
        margin: 0 0 0 20px;
    }
}

@media (min-width: 1200px) {
    .header {
        min-width: 1200px;
    }

    .header__info {
        width: 50%;
    }
}

.information__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.information__item:last-child {
    margin-bottom: 0;
}

.information__item img {
    margin-bottom: 20px;
}

@media (min-width: 720px) {
    .information__items {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .information__item {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .information {
        min-width: 1200px;
    }

    .information__item {
        margin-bottom: 0;
    }
}

.form {
    font-size: 0;
    line-height: 0;
}

.form iframe {
    width: 100%;
    height: 920px;
    border: 0;
}

@media (min-width: 720px) {
    .form iframe {
        height: 980px;
    }
}

.speakers {
    background-image: linear-gradient(to top, #6f86d6 0%,  #48c6ef 100%);
}

.speakers .title{
    color: #ffffff;
}

.speakers__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.speakers__item {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 20px;

}

.speakers__item img {
    width: auto;
    position: absolute;
    min-width: 100%;
    height: 100%;
}

@media (min-width: 1200px) {
    .speakers {
        min-width: 1200px;
    }

    .speakers .container {
        width: 800px;
    }

    .speakers__items {
        width: 800px;
    }

    .speakers__item {
        margin: 0 20px -10px;
    }

    .speakers__item:nth-child(1),
    .speakers__item:nth-child(2),
    .speakers__item:nth-child(3) {
        transform: translateX(60px);
    }

    .speakers__item:nth-child(4),
    .speakers__item:nth-child(5),
    .speakers__item:nth-child(6) {
        transform: translateX(-60px);
    }
}

.footer {
    background: #6f86d6;
}

.footer .container {
    flex-direction: column;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.footer a:hover {
    text-decoration:underline;
}

.footer__item:first-child {
    margin-bottom: 20px;
}

@media (min-width: 1200px) {
    .footer {
        min-width: 1200px;
    }

    .footer .container {
        flex-direction: row;
    }

    .footer__item:first-child {
        margin-right: 20px;
        padding-right: 20px;
        margin-bottom: 0;
        border-right: 2px solid #ffffff;
    }
}
