html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: rgba(0, 0, 0, 1);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
}

.title {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #0d4b7c;
    font-size: 36px;
    font-weight: normal;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to right, #6f86d6 0, #48c6ef 100%);
}

.cta a {
    margin-top: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #48c6ef;
    border: 1px solid #fff;
    background: #fff;
}

.cta a:hover {
    color: #fff;
    background: transparent;
}

.header {
    position: relative;
    z-index: 1;
    min-height: calc(100vh - 100px);
    background: lightgray url("../img/hero.jpg") no-repeat center center;
    background-size: cover;
}

.header .container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    min-height: calc(100vh - 100px);
}

.header::after {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
}

.header__info {
    z-index: 3;
}

.header__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #fff;
}

.header__intro h1 {
    text-align: center;
    font-weight: normal;
}

.header__intro img {
    width: 180px;
    height: auto;
    margin-top: 20px;
}

.header__list {
    padding-left: 20px;
    color: #fff;
    line-height: 1.6;
}

.header__list li {
    margin-bottom: 10px;
}

.information__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
}

.information__item:last-child {
    margin-bottom: 0;
}

.information__item img {
    margin-bottom: 20px;
}

.form {
    font-size: 0;
    line-height: 0;
}

.form iframe {
    width: 100%;
    height: 920px;
    border: 0;
}

.speakers {
    background-image: linear-gradient(to top, #6f86d6 0, #48c6ef 100%);
}

.speakers .title {
    color: #fff;
}

.speakers__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.speakers__item {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
}

.speakers__item:last-child {
    margin-bottom: 0;
}

.speakers__item img {
    position: absolute;
    width: auto;
    min-width: 100%;
    height: 100%;
}

.footer {
    background: #6f86d6;
}

.footer .container {
    flex-direction: column;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer__item:first-child {
    margin-bottom: 20px;
}

@media (min-width: 720px) {
    .cta {
        flex-direction: row;
    }

    .cta a {
        margin: 0 0 0 10px;
    }

    .header {
        min-height: calc(100vh - 71px);
    }

    .header .container {
        min-height: calc(100vh - 71px);
    }

    .header__intro {
        flex-direction: row;
        justify-content: flex-start;
        text-align: right;
    }

    .header__intro h1 {
        text-align: right;
    }

    .header__intro img {
        margin: 0 0 0 20px;
    }

    .information__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .information__item {
        width: 30%;
    }

    .form iframe {
        height: 980px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        min-width: 1200px;
    }

    .header {
        min-width: 1200px;
    }

    .header__info {
        width: 50%;
    }

    .information {
        min-width: 1200px;
    }

    .information__item {
        margin-bottom: 0;
    }

    .speakers {
        min-width: 1200px;
    }

    .speakers .container {
        width: 800px;
    }

    .speakers__items {
        width: 800px;
    }

    .speakers__item {
        margin: 0 20px -10px;
    }

    .speakers__item:nth-child(1),
    .speakers__item:nth-child(2),
    .speakers__item:nth-child(3) {
        transform: translateX(60px);
    }

    .speakers__item:nth-child(4),
    .speakers__item:nth-child(5),
    .speakers__item:nth-child(6) {
        transform: translateX(-60px);
    }

    .footer {
        min-width: 1200px;
    }

    .footer .container {
        flex-direction: row;
    }

    .footer__item:first-child {
        margin-right: 20px;
        margin-bottom: 0;
        padding-right: 20px;
        border-right: 2px solid #fff;
    }
}

